{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
{{super()}}

<meta name="application-name" content="Boggle Companion | Word Finder">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="description"
    content="Boggle Compansion: the fast, reliable Boggle solver. Fill in the grid to find all words and their definitions.">
<meta name="keywords" content="Boggle, Word Grid, Word Finder, Solver, Boggle Solver, Boggle Solution">
<meta name="author" content="Kenji Marshall">

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/main.css">
{% endblock %}

{% block title %}
Boggle Companion
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row header">
        <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 home-title">
            <h1>
                Boggle Companion
            </h1>
        </div>
    </div>
    <div class="row core">
        <div class='col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-1 col-md-4 boggle'>

            {% set number = data.size %}
            {% for i in range(number) %}
            <div class="row letter-row">
                {% for j in range(number) %}

                <div class="col-xs-3 letter">
                    <input type="text" class="form-control letter-input" maxlength="2">
                </div>

                {% endfor %}
            </div>
            {% endfor %}
            <div class="buttons">
                <btn class="btn btn-success solve-btn">Solve</btn>
                <btn class="btn btn-info random-btn">Random Board</btn>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-sm-offset-1 col-sm-4 col-md-5 col-md-offset-1 answers">
            <div class="row sol three"><b>Three Letters: </b></div>
            <div class="row sol four"><b>Four Letters: </b></div>
            <div class="row sol five"><b>Five Letters: </b></div>
            <div class="row sol six"><b>Six Letters: </b></div>
            <div class="row sol seven"><b>Seven Letters: </b></div>
            <div class="row sol eight"><b>Eight Letters: </b></div>
            <div class="row sol nine"><b>Nine Letters: </b></div>
            <div class="row sol ten"><b>Ten Letters: </b></div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

{{ super() }}

<script src="static/main.js"></script>>


{% endblock %}