{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="en"{% endblock %}

{% block head %}
{{super()}}

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="static/css/main.css">
{% endblock %}

{% block title %}
Boggle Companion
{% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row header">
        <div class="col-xs-8 col-xs-offset-2 col-md-6 col-md-offset-3 home-title">
            <h1>
                Boggle Companion
            </h1>
        </div>
    </div>
    <div class="row core">
        <div class='col-xs-6 col-xs-offset-3 col-sm-5 col-sm-offset-1 col-md-4 boggle'>

            {% set number = data.size %}
            {% for i in range(number) %}
            <div class="row letter-row">
                {% for j in range(number) %}

                <div class="col-xs-3 letter">
                    <input type="text" class="form-control letter-input">
                </div>

                {% endfor %}
            </div>
            {% endfor %}
            <div class="buttons">
                <btn class="btn btn-success solve-btn">Solve</btn>
                <btn class="btn btn-info random-btn">Random Board</btn>
            </div>
        </div>
        <div class="col-xs-6 col-xs-offset-3 col-sm-offset-1 col-sm-4 col-md-5 col-md-offset-1 answers">
            <div class="row sol three"><b>Three Letters: </b></div>
            <div class="row sol four"><b>Four Letters: </b></div>
            <div class="row sol five"><b>Five Letters: </b></div>
            <div class="row sol six"><b>Six Letters: </b></div>
            <div class="row sol seven"><b>Seven Letters: </b></div>
            <div class="row sol eight"><b>Eight Letters: </b></div>
            <div class="row sol nine"><b>Nine Letters: </b></div>
            <div class="row sol ten"><b>Ten Letters: </b></div>
        </div>
    </div>
</div>



{% endblock %}

{% block scripts %}

{{ super() }}

<script>

    $(document).ready(function () {

        var letters = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "qu", "r", "s", "t", "u", "v", "w", "x", "y", "z"];

        function randLetter() {
            var letter = letters[Math.floor(Math.random() * letters.length)];
            return letter
        }

        function validateGrid() {
            var valid = true
            $('.letter-input').each(function (index) {
                if ($(this).val() == "") {
                    $(this).parent().addClass('has-error')
                    valid = false
                }
                else if (!letters.includes($(this).val().toLowerCase())) {
                    $(this).parent().addClass('has-error')
                    valid = false
                }
                else {
                    $(this).parent().removeClass('has-error')
                }
            })
            return valid
        }

        var h = $(".letter-input").css("width")
        $('.letter-row').css("height", h)

        $(window).on('resize', function () {
            var h = $(".letter-input").css("width")
            $('.letter-row').css("height", h)
        });



        $('.random-btn').on('click', function () {
            $(".letter-input").each(function (index) {
                var ltr = randLetter()
                $(this).val(ltr)
            });

        })


        $('.solve-btn').on('click', function () {
            if (validateGrid()) {
                var symbols = []
                $('.letter-input').each(function (index) {
                    symbols.push($(this).val())
                })
                var msg = {
                    size: 4,
                    symbols: symbols
                }

                fetch(`${window.origin}/`, {
                    method: "POST",
                    body: JSON.stringify(msg),
                    cache: "no-cache",
                    headers: new Headers({
                        "content-type": "application/json"
                    })
                })
                    .then(function (response) {
                        response.json().then(function (data) {

                            var keys = Object.keys(data.solution)
                            $(".solution-word").remove()
                            $('.sol').each(function (index) {
                                var words = data.solution[keys[index]]
                                for (i = 0; i < words.length; i++) {
                                    var word = words[i]
                                    var definition = "https://www.merriam-webster.com/dictionary/" + word
                                    $(this).append("<a class='solution-word', href=" + definition + "> " + word + "  </a > ")
                                }
                            })


                            var heatmap = data.board.usage_count
                            $(".letter-input").each(function (index) {
                                // TODO: Heatmap?
                            })
                        })
                    })
            }
        })
    })

</script>


{% endblock %}
